html,
body,
form,
main {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
}

.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
